.App {

    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    color: var(--White);
    height: 100vh;
    background: url(./assets/images/pattern-hills.svg) no-repeat bottom/100% , url(./assets/images/bg-stars.svg), linear-gradient(0deg, var(--bg-light), var(--bg-dark) 50%);
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: var(--width);
    height: 100%;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.4em;
    margin: 0;
}

.wrapper>header {
    padding-top: 140px;
    padding-bottom: 100px;
}

.wrapper>main {
    flex: 1;
}

.wrapper>footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: auto;
    padding-bottom: 70px;
    
}
.media-icon{
    color: var(--Grayish-blue);
}
.media-icon:hover {
color: var(--Soft-red);
}

@media (max-width:768px) {
    .App {
        background-position: -780px bottom;
        background-size: auto;
    }

    .wrapper>footer {

        padding-bottom: 50px;

    }
}